.ContentMySkill{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #151211;
}
.MySkillLeft{
    margin-top: 5%;
    width: 60vw;
    height: 90vh;
    
    background:  url('../../../public/img/WEB/VG02-2048x1152.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
   
}
.MySkillRight{
    width: 30vw;    
}